<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Todo</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <span>account: {{ accountAddress }}</span>
  <button (click)="connectWallet()">Connect wallet</button>
  <button (click)="get()">Refresh data</button>

  <input  type="text" [(ngModel)]="currentTodo" />
  <button (click)="addCurrentTodo()">Add</button>
  <button (click)="clearCurrentTodo()">Clear</button>

  <br>
  <button *ngIf="todos.length == 0" (click)="initTodo()">Initialize</button>
  
  <div *ngFor="let todo of todos; index as i">
    <input type="checkbox" (click)="reverseDone(i)" />
    <del *ngIf="todo.done">{{ todo.action }}</del>
    <span *ngIf="!todo.done">{{ todo.action }}</span>
    &nbsp;
    <button (click)="deleteTodo(i)">X</button>
  </div>
</div>